@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav id="Logo" class="text-center">
            <div id="Ueberschrift">
                <h2>Zypher</h2>
                <h5>typewriter Challange</h5>
            </div>
            <div id="Person">
                <h2>img</h2>
            </div>
        </nav>
    </main>
</div>
