@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav id="Logo" class="text-center">
            <div id="Ueberschrift">
                <h1>Zypher</h1>
                <h6>TYPEWRITER CHALLANGE</h6>
            </div>
            <div id="Person">
                <img alt="img" id="UserIcon" src="img/UserIcon.png"/>
            </div>
        </nav>
        <div class="body">
            <p>example</p>
            <p>example</p>
            <p>example</p>
            <p>example</p>
            <p>example</p>
        </div>
    </main>
</div>
