.page {
    position: relative;
    display: flex;
    background: #403F3F;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-family: ;
}

nav{
    width: 80vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    align-items: center;
}

#Ueberschrift{
    display: flex;
    flex-direction: column;
}

#Logo{
    color: #B388EB;
}

main{
    flex: 1;
}
