@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor

<div class="main-layout">
    <div class="header">
        <h1>Zypher</h1>
        <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <p>Hello, @context.User.Identity.Name!</p>
                <button @onclick="GoToStartPage">Home</button>
            </Authorized>
            <NotAuthorized>
                <p>Please <NavLink href="/login">Login</NavLink> or <NavLink href="/register">Register</NavLink> to continue.</p>
            </NotAuthorized>
        </AuthorizeView>
        </CascadingAuthenticationState>
    </div>
    <div class="content">
        @Body 
    </div>
</div>

@code {
    private async Task GoToStartPage()
    {
        Navigation.NavigateTo("/home"); 
    }
}
