@page "/"
@using Zypher.Services
@inject UserService UserService

<h3>Welcome, @username!</h3>

@code {
    private string username;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            username = await UserService.GetUsernameAsync();
            StateHasChanged(); 
        }
    }
}
