@page "/"
@using Zypher.Services
@using Zypher.Components.Layout
@inject UserService UserService
@layout MainLayout

<h3>Welcome, @username!</h3>

@code {
    private string username;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            username = await UserService.GetUsernameAsync();
            StateHasChanged(); 
        }
    }
}
