@page "/login"
@using Zypher.Services
@using Zypher.Components.Layout
@inject UserService UserService
@inject NavigationManager NavigationManager
@inject PopupStateService PopupStateService
@layout MainLayout

<div class="popup-container">
    <h3>Login</h3>
    <input @bind="username" placeholder="Enter your username..." @onkeydown="HandleKeyDown" />
    <button @onclick="SetUsername">Submit</button>
</div>

@code {
    private string username;

    protected override void OnInitialized()
    {
        PopupStateService.IsPopupActive = true;
    }

    private async Task SetUsername()
    {
        if (!string.IsNullOrEmpty(username))
        {
            await UserService.SetUsernameAsync(username);
            PopupStateService.IsPopupActive = false;
            NavigationManager.NavigateTo("/selectmode");
        }
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SetUsername();
        }
    }
}